
        
html,body{
                -ms-overflow-style: scrollbar;

        }
        body{
            background-image: url("../Resources/fondofrutas2.png");
            margin: 0;

        }
a,a:hover,a:active{
     color: inherit;
    text-decoration: none;
}
.blur{
   filter: blur(8px); 
}
.grayscale{
    filter: grayscale(90%);
}
        .logo-Menu{
            background-color: green;
            width: 200px;
        }
        .listTopPage{
            background-color: green;
            width: 320px;
            cursor: pointer;
        }
        .topText{
            
             font-family: 'Cabin Sketch', cursive;
            font-size: 25px;
            margin-left: 0px;
            margin-top: 20px;
            color: white;
        }
        .pageHeader{
            position: fixed;
            top:0;
            width: 100%;
            background-color: white;
            background-image: url(../Resources/fondogris.png);
            background-size: contain;
            min-width: 800px;
            height: 68px;
                box-shadow: 5px 2px 5px #888888;
            z-index: 10;
        }
        .mainMenu{
            position:fixed;
            cursor: default;
            width: 200px;
            height: 100%;
            top: 68px;
            left: 0;
            padding: 0;
            padding-top: 40px;
            border-style:solid;
            border-width: 1px;
            border-color: green;
            
            background-color: white; 
            z-index: 10;
            
            -webkit-transform: translate(-100%,0%);
            -moz-transform: translate(-100%,0%);
            -ms-transform: translate(-100%,0%);
            -ms-transform: translate(-100%,0%);
            -o-transform: translate(-100%,0%);
            transform: translate(-100%,0%);
        }
           .listMenu{
            position:fixed;
            cursor: default;
            width: 320px;
            height: 90%;
            top: 68px;
               
            left: 100%;
            padding: 25px;
            padding-top: 40px;
            border-style:solid;
            border-width: 1px;
            border-color: green;
            
            background-color: white; 
            z-index: 10;
            
            -webkit-transform: translate(100%,0%);
            -moz-transform: translate(100%,0%);
            -ms-transform: translate(100%,0%);
            -ms-transform: translate(100%,0%);
            -o-transform: translate(100%,0%);
            transform: translate(100%,0%);
               
            overflow-y: auto;
                   -ms-overflow-style: scrollbar;

        }
    
        .menuOutline{
            
            margin-top: 100px;
            width: 200px;
            display: flex;
            padding: 5px;
        }
        
        .menuItem{
            cursor: pointer;
            display: flex;
            padding: 15px;
            padding-left: 25px;
            border: 0;
            border-style: solid;
             background: /* gradient can be an image */
    linear-gradient(
      to left, 
      rgba(255,255,255,1.0) 0%,
      rgba(70,70,70,1) 50%,
      rgba(255,255,255,1) 100%
    )
    bottom 
    no-repeat; 
  background-size:100% 1px ;/
          
        }
        .menuItem:not(.menuItem_selected):hover{
            background-color: yellowgreen;
        }
        .menuItem_selected{
            background-color:#967BB6;
            cursor: default;
        }
        
        .pinboard{
            display: inline-block;
            padding: 0;
            border-style:solid;
            border-width: 1px;
            border-color: green;
            
            margin-top: 60px;
            min-width: 1300px;
            min-height: 640px;
            padding-top: 50px;
            padding-left: 20px;
            background-image: url(../Resources/fondofrutas2.png);
        }
        .bodycontainer{
            display: flex;
            
            margin-top: 0px;
        }
        .flexdiv{
           display: flex; 
        }
        .filler{
            flex-grow: 1;
        }
        
        .noteBlock{
            
            display: inline-block;
            width: 170px;
            height: 220px;
            margin-left: 20px;
            margin-right: 20px;
            padding: 10px;
            border-width: 2px;
            border-style: solid;
            border-color:darkgray;
            background-color: whitesmoke;

        }
        .noteBlock:hover{
                box-shadow: 5px 5px 5px #888888;

        }
        
        .noteBlock:nth-child(12n+1){
            -webkit-transform:  rotate(-15deg);
            -moz-transform:  rotate(-15deg);
            -ms-transform:  rotate(-15deg);
            -ms-transform: rotate(-15deg);
            -o-transform: rotate(-15deg);
            transform: rotate(-15deg);
        }
        
        .noteBlock:nth-child(12n+2){
            -webkit-transform:  rotate(20deg);
            -moz-transform:  rotate(20deg);
            -ms-transform:  rotate(20deg);
            -ms-transform: rotate(20deg);
            -o-transform: rotate(20deg);
            transform: rotate(20deg);
        }
        .noteBlock:nth-child(12n+3){
            -webkit-transform:  rotate(10deg);
            -moz-transform:  rotate(10deg);
            -ms-transform:  rotate(10deg);
            -ms-transform: rotate(10deg);
            -o-transform: rotate(10deg);
            transform: rotate(10deg);
        }
                
        .noteBlock:nth-child(12n+4){
            -webkit-transform:  rotate(-10deg);
            -moz-transform:  rotate(-10deg);
            -ms-transform:  rotate(-10deg);
            -ms-transform: rotate(-10deg);
            -o-transform: rotate(-10deg);
            transform: rotate(-10deg);
        }
        
        .noteBlock:nth-child(12n+5){
            -webkit-transform:  rotate(20deg);
            -moz-transform:  rotate(20deg);
            -ms-transform:  rotate(20deg);
            -ms-transform: rotate(20deg);
            -o-transform: rotate(20deg);
            transform: rotate(20deg);
        }
        .noteBlock:nth-child(12n+6){
            -webkit-transform:  rotate(-15deg);
            -moz-transform:  rotate(-15deg);
            -ms-transform:  rotate(-15deg);
            -ms-transform: rotate(-15deg);
            -o-transform: rotate(-15deg);
            transform: rotate(-15deg);
        }
        
                .noteBlock:nth-child(12n+7){
            -webkit-transform:  rotate(10deg);
            -moz-transform:  rotate(10deg);
            -ms-transform:  rotate(10deg);
            -ms-transform: rotate(10deg);
            -o-transform: rotate(10deg);
            transform: rotate(10deg);
        }
                
        .noteBlock:nth-child(12n+8){
            -webkit-transform:  rotate(-10deg);
            -moz-transform:  rotate(-10deg);
            -ms-transform:  rotate(-10deg);
            -ms-transform: rotate(-10deg);
            -o-transform: rotate(-10deg);
            transform: rotate(-10deg);
        }
              .noteBlock:nth-child(12n+9){
            -webkit-transform:  rotate(-15deg);
            -moz-transform:  rotate(-15deg);
            -ms-transform:  rotate(-15deg);
            -ms-transform: rotate(-15deg);
            -o-transform: rotate(-15deg);
            transform: rotate(-15deg);
        }
                .noteBlock:nth-child(12n+10){
            -webkit-transform:  rotate(-15deg);
            -moz-transform:  rotate(-15deg);
            -ms-transform:  rotate(-15deg);
            -ms-transform: rotate(-15deg);
            -o-transform: rotate(-15deg);
            transform: rotate(-15deg);
        }
              .noteBlock:nth-child(12n+11){
            -webkit-transform:  rotate(20deg);
            -moz-transform:  rotate(20deg);
            -ms-transform:  rotate(20deg);
            -ms-transform: rotate(20deg);
            -o-transform: rotate(20deg);
            transform: rotate(20deg);
        }
             .noteBlock:nth-child(12n+12){
            -webkit-transform:  rotate(20deg);
            -moz-transform:  rotate(20deg);
            -ms-transform:  rotate(20deg);
            -ms-transform: rotate(20deg);
            -o-transform: rotate(20deg);
            transform: rotate(20deg);
        }
        .noteBlock:nth-child(12n+1) .notePhoto{
         background-image: url(../icons/ico1.png);
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
        }    .noteBlock:nth-child(12n+2) .notePhoto{
         background-image: url(../icons/ico2.png);
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
        }    .noteBlock:nth-child(12n+3) .notePhoto{
         background-image: url(../icons/ico3.png);
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
        }    .noteBlock:nth-child(12n+4) .notePhoto{
         background-image: url(../icons/ico4.png);
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
        }    .noteBlock:nth-child(12n+5) .notePhoto{
         background-image: url(../icons/ico5.png);
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
        }    .noteBlock:nth-child(12n+6) .notePhoto{
         background-image: url(../icons/ico6.png);
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
        }    .noteBlock:nth-child(12n+7) .notePhoto{
         background-image: url(../icons/ico7.png);
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
        }
        .noteBlock:nth-child(12n+8) .notePhoto{
         background-image: url(../icons/ico8.png);
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
        }    .noteBlock:nth-child(12n+9) .notePhoto{
         background-image: url(../icons/ico9.png);
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
        }    .noteBlock:nth-child(12n+10) .notePhoto{
         background-image: url(../icons/ico10.png);
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
        }
        .noteBlock:nth-child(12n+11) .notePhoto{
         background-image: url(../icons/ico11.png);
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
        }    .noteBlock:nth-child(12n+12) .notePhoto{
         background-image: url(../icons/ico12.png);
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
        }
        
        
        .notePhoto{
            width: 150px;
            height: 120px;
            margin-top: 5px;
             margin-bottom: 15px;
            border-width: 1px;
            background-color: gray;
            border-color: gray;
            border-style: solid;
        }
        .pin{
            width: 15px;
            height: 15px;
            position: absolute;
            top: 0%;
            left:50%;
            background-color: darkcyan;
            
            -webkit-transform: translate(-50%,-50%) rotate(-45deg);
            -moz-transform: translate(-50%,-50%) rotate(-45deg);
            -ms-transform: translate(-50%,-50%) rotate(-45deg);
            -ms-transform: translate(-50%,-50%) rotate(-45deg);
            -o-transform: translate(-50%,-50%) rotate(-45deg);
            transform: translate(-50%,-50%) rotate(-45deg );
        }
        .noteDesc{
            font-family: 'Cabin Sketch', cursive;
            font-size: 12px;
        }
        .logo{
             font-family: 'Cabin Sketch', cursive;
            font-size: 25px;
            margin-left: 10px;
            margin-top: 20px;
            color: white;
            //background-image: url("../logo.png");
            width: 150px;
            height: 45px;
            background-repeat: no-repeat;
            background-size:contain;
        }  
        .newNotebtn{
            font-family: 'Special Elite', cursive;
            //background-image: url(marco1.png);  
            background-color: green;
            background-size: 100% 100%;
            color: aliceblue;
            font-size: 20px;
            padding: 10px;
            padding-left: 25px;
            padding-right: 25px;
            margin-bottom: 10px;
            margin-top: 10px;
            border: none;     
        }
        .newNotebtn:hover{
            background-color: seagreen;
        }
        .menuIcon,.popList{
            padding-left: 15px;
            margin-top: 25px;
            font-size: 20px;
            cursor: pointer;
        }
        .popList{
            margin-right: 20px;
        
        }
        .menuIcon:hover{
            color: white;
        }  
        .popList:hover{
            color: white;
        }
        
        .blackboardListElement{
            display: flex;
            background-color: green;
            width: 255px;
            height: 40px;
            padding: 7px;
            margin-bottom: 10px;
            border-width: 3px;
            border-color: white;
            box-shadow: 5px 5px 10px #888888;
        }
        .blackboardListElement:hover{
            background-color:darkgreen;
        }
        .popListTitles{
            margin-bottom: 15px;
            font-family: 'Open Sans', sans-serif;
            border-bottom-style: solid;
            border-bottom-width: 1px;

        }
        .popListText{
            
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            color: white;
        }
        
.viewNoteModal,.newNoteModal,.confirmationModal{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 50;
}
.viewNoteModalBody,newNoteModalBody{
    margin-top: 60px;
    width: 450px;
    height: 500px;
    padding: 10px 10px 10px 25px;
    border: 4px solid rgba(255,255,255,0.8);
    border-radius: 4px;

}   
.modalCampos,.modalCampoUnidad,.modalCampoNumero{
    display: block;
    margin: 0px 10px 15px 10px;
    height: 40px;
    width: 220px;
    background-color: rgba(0,0,0,0.0);
    border: 2px solid rgba(255,255,255,0.8);
    color: white;
    padding: 9px;

}
.modalCampoUnidad{
    width: 140px;
}
.modalCampoNumero{
       width: 60px;
    padding-right: 0px;
}
.viewNoteModalImage{
    margin: 0px 20px 30px 0px;
    border: 3px solid white;
}
.modalViewNoteDesc{
    width: 395px;
    height: 140px;   
    background-color: rgba(0,0,0,0.0);
    border: 2px solid rgba(255,255,255,0.8);
  margin: 0px 20px 15px 0px;
    padding: 9px;
    color: white;
}
.modalBtn{
    width: 140px;
        height: 35px;   
    background-color: rgba(0,0,0,0.0);
    border: 2px solid rgba(255,255,255,0.8);
    margin-bottom: 20px;
        border-radius: 8px;
    color: white;
}
.modalBtn:hover{
    
    background-color: rgba(255,255,255,0.4);
}
.deleteNoteBtn,.redModalBtn{
    
    background-color: rgba(150,0,0,0.5);
}
.deleteNoteBtn:hover{
    
    background-color: rgba(150,0,0,0.8);
}
.cross{
    margin-bottom: 15px;
    color: white;
    font-size: 14px;
    top: 0;
    cursor: pointer;
}
.confirmationModal{
    display: none;   
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
}

.confirmationModalBody{
    margin-top: 60px;
    margin-top: 250px;
    width: 400px;
    height: 120px;
    padding: 20px 10px 10px 25px;
    
    background-color: rgba(0,0,0,0.9);
    border: 2px solid rgba(255,255,255,0.8);
    border-radius: 12px;
}
.confirmationModalText{
    color: white;
    margin-bottom: 20px;
}
option{
    color: gray;
}