body
{
    background-color: #808080;
    width: 50%;
    margin: auto;
}

button
{
    width: 150px;
    height: 150px;
}

div.options
{
    padding: 15px;
    background-color: #A07050;
    border: 5px solid black;
}
h1.options-menu
{
    text-align: center;
}

div.options-menu-buttons
{
    width: 100%;
    margin: auto;
}